<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">


	<bean id="addBean" class="pkg.Address">
<constructor-arg index="0" value="X-Street"/>
<constructor-arg index="1" value="Arizona"/>
<constructor-arg index="2" value="85027"/>
</bean>
	
	<bean id="empBean" class="pkg.Employee">
		<property name="eid" value="8900"/>
		<property name="ename" value="jonathan"/>
		<property name="esalary" value="50000"/>
		<property name ="eaddress" ref="addBean"/>
	
	<property name ="hobbies">
	<list>
	<value>Pf</value>
	<value>PHotography</value>
	<value>Travelling</value>
	<value>Watching</value>
	<value>Travelling</value>
	</list>
	</property>
	</bean>
	
	<bean id="tmp" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="ds"/>
</bean>


 <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
<property name="username" value="system" />
<property name="password" value="atos123$" />
</bean>


</beans>